<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cce5da2a-26f1-43dc-bbcd-8ab6563e2878/resourceGroups/WebApp999_group/providers/Microsoft.Web/sites/WebApp999</ResourceId>
    <ResourceGroup>WebApp999_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://webapp999.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://webapp999.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$WebApp999</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>